# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("darkgrid")

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df_nics = pd.read_excel('gun_data.xlsx')
df_census = pd.read_csv('U.S. Census Data.csv')

The data comes from the FBI's National Instant Criminal Background Check System. The NICS is used to determine whether a prospective buyer is eligible to buy firearms or explosives. Gun shops call into this system to ensure that each customer does not have a criminal record or isnâ€™t otherwise ineligible to make a purchase. The data has been supplemented with state level data from census.gov.

The NICS data is found in one sheet of an .xlsx file. 
The U.S. census data is found in a .csv file. 
https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md
Other (column) = Refers to frames, receivers and other firearms that are not either handguns or long guns (rifles or shotguns), such as firearms having a pistol grip that expel a shotgun shell
Multiple (column) = Multiple (multiple types of firearms selected)
DISCLAIMERS:
Some states may reflect lower than expected numbers for handgun checks based on varying state laws pertaining to handgun permits. Since the permit check is done in place of the NICS check in most of the affected states, the low handgun statistics are often balanced out by a higher number of handgun permit checks

##### df_gun
- Contains the number of firearm checks by month, state, and type.
- 12,485 rows, 27 columns
- Majority of columns contain null values.
- Columns without null values: month, state, multiple, totals
- 0 duplicate rows
- month and state columns are strings, mutiple and totals columns are integers, remaining columns are floats

##### df_census
- Contains several variables at the state level. Most variables just have one data point per state (2016), but a few have data for more than one year.
- 85 rows, 52 columns (one column for each state plus a fact and fact note column)
- 3 duplicate rows - all columns contain null values
- All columns are strings, but values are floats, integers, or percentages

In [3]:
display(df_nics.shape)
display(df_nics.info())
df_nics.head()

(12485, 27)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
month                        12485 non-null object
state                        12485 non-null object
permit                       12461 non-null float64
permit_recheck               1100 non-null float64
handgun                      12465 non-null float64
long_gun                     12466 non-null float64
other                        5500 non-null float64
multiple                     12485 non-null int64
admin                        12462 non-null float64
prepawn_handgun              10542 non-null float64
prepawn_long_gun             10540 non-null float64
prepawn_other                5115 non-null float64
redemption_handgun           10545 non-null float64
redemption_long_gun          10544 non-null float64
redemption_other             5115 non-null float64
returned_handgun             2200 non-null float64
returned_long_gun            2145 non-null float64
returned_other               1815 non-null float64
rentals_handgun              990 non-null float64
rentals_long_gun             825 non-null float64
private_sale_handgun         2750 non-null float64
private_sale_long_gun        2750 non-null float64
private_sale_other           2750 non-null float64
return_to_seller_handgun     2475 non-null float64
return_to_seller_long_gun    2750 non-null float64
return_to_seller_other       2255 non-null float64
totals                       12485 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

None

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [4]:
display(df_census.shape)
display(df_census.info())
df_census.head()

(85, 52)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
Fact              80 non-null object
Fact Note         28 non-null object
Alabama           65 non-null object
Alaska            65 non-null object
Arizona           65 non-null object
Arkansas          65 non-null object
California        65 non-null object
Colorado          65 non-null object
Connecticut       65 non-null object
Delaware          65 non-null object
Florida           65 non-null object
Georgia           65 non-null object
Hawaii            65 non-null object
Idaho             65 non-null object
Illinois          65 non-null object
Indiana           65 non-null object
Iowa              65 non-null object
Kansas            65 non-null object
Kentucky          65 non-null object
Louisiana         65 non-null object
Maine             65 non-null object
Maryland          65 non-null object
Massachusetts     65 non-null object
Michigan          65 non-null object
Minnesota         65 non-null object
Mississippi       65 non-null object
Missouri          65 non-null object
Montana           65 non-null object
Nebraska          65 non-null object
Nevada            65 non-null object
New Hampshire     65 non-null object
New Jersey        65 non-null object
New Mexico        65 non-null object
New York          65 non-null object
North Carolina    65 non-null object
North Dakota      65 non-null object
Ohio              65 non-null object
Oklahoma          65 non-null object
Oregon            65 non-null object
Pennsylvania      65 non-null object
Rhode Island      65 non-null object
South Carolina    65 non-null object
South Dakota      65 non-null object
Tennessee         65 non-null object
Texas             65 non-null object
Utah              65 non-null object
Vermont           65 non-null object
Virginia          65 non-null object
Washington        65 non-null object
West Virginia     65 non-null object
Wisconsin         65 non-null object
Wyoming           65 non-null object
dtypes: object(52)
memory usage: 34.6+ KB

None

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

##### NICS data
1. Remove state values that do not appear in the columns of the census data ('District of Columbia', 'Guam', 'Mariana Islands', 'Puerto Rico','Virgin Islands')
2. Check that the month and state columns did not have null values
3. Filled null values with 0.0
4. turned all float columns to integers, for consistency
5. Creates a year column
6. Remove unnecessary columns based - based on information from http://www.smallarmssurvey.org/fileadmin/docs/F-Working-papers/SAS-WP14-US-Firearms-Industry.pdf

In [6]:
original = df_nics.shape[0]

#remove columns that are not relevant
remove = ['permit', 'permit_recheck', 'admin', 'other', 'prepawn_other', 
          'redemption_other', 'returned_other','private_sale_other', 'return_to_seller_other', 'totals']
df_nics.drop(remove, axis=1, inplace=True)
df_nics['totals'] = 0
for i in range(original):
    df_nics.loc[i,'totals'] = df_nics.iloc[i,2:].sum()

state_list = list(df_census.columns[2:]) #list of states from census columns

#filter df_gun to only values that could be tied to the columns of the census data
remove_vals = df_nics.query('not state in {}'.format(state_list))
df_nics.drop(remove_vals.index, inplace=True)

#replace NAs with 0s
df_nics.fillna(0.0,inplace=True)

#turn all columns to integers for consistency
for col in df_nics.columns[2:]:
    df_nics[col] = df_nics[col].astype(int)

#display(removed.state.unique())
print('Rows removed: ', str(original - df_nics.shape[0]))

df_nics.reset_index(inplace=True, drop=True)

Rows removed:  1135

##### Census data
Steps:
1. Remove duplicates / null rows
2. Remove rows with all null values
3. Turn columns of each state into floats from strings
4. Creates a year column

In [7]:
df_census.drop_duplicates(inplace=True)
df_census.fillna("None",inplace=True)

#identifies and removes extra rows of information that include notes 
df_census_extra = df_census.iloc[64:,:] 
df_census.drop(df_census_extra.index,inplace=True)

#fact notes found at the bottom of the data
notes = {'(a)':'Includes persons reporting only one race', 
         '(b)':'Hispanics may be of any race, so also are included in applicable race categories', 
         '(c)':'Economic Census - Puerto Rico data are not comparable to U.S. Economic Census data'}

#replace the keys from the notes dict with their values within the Fact Note column
df_census['Fact Note'].replace(notes, inplace=True)

val_flags = ['-','D','F','FN','NA','S','X','Z'] #value flags found in bottom of data.
df_census.replace(to_replace=val_flags, value="0", inplace=True) #replace all value flags with 0

for col in df_census.columns[2:]:
    #first, if a value in a column has  a % sign, remove it and divide it by 100, else remove all commas and $
    df_census[col] = df_census[col].apply(lambda x: float(x.replace('%',''))/100 if '%' in x else x.replace(',','').replace('$',''))
    df_census[col] = df_census[col].astype(float) #turn all state columns to floats

In [8]:
#extracts the year from the month column and creates a year column
df_nics['year'] = df_nics['month'].apply(lambda x: int(x[:4]))
min_year = int(df_nics.year.unique().min())
max_year = int(df_nics.year.unique().max())
year_list = list(range(max_year, min_year-1, -1))

display(df_nics.info())

#extracts the highest year in the Fact row and creates a year column
df_census['year']= 0
for i, v in df_census['Fact'].items():
    for year in year_list:
        if str(year) in v:
            df_census.loc[i, 'year'] = year
            
df_census.info()

# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11350 entries, 0 to 11349
Data columns (total 19 columns):
month                        11350 non-null object
state                        11350 non-null object
handgun                      11350 non-null int64
long_gun                     11350 non-null int64
multiple                     11350 non-null int64
prepawn_handgun              11350 non-null int64
prepawn_long_gun             11350 non-null int64
redemption_handgun           11350 non-null int64
redemption_long_gun          11350 non-null int64
returned_handgun             11350 non-null int64
returned_long_gun            11350 non-null int64
rentals_handgun              11350 non-null int64
rentals_long_gun             11350 non-null int64
private_sale_handgun         11350 non-null int64
private_sale_long_gun        11350 non-null int64
return_to_seller_handgun     11350 non-null int64
return_to_seller_long_gun    11350 non-null int64
totals                       11350 non-null int64
year                         11350 non-null int64
dtypes: int64(17), object(2)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 63
Data columns (total 53 columns):
Fact              64 non-null object
Fact Note         64 non-null object
Alabama           64 non-null float64
Alaska            64 non-null float64
Arizona           64 non-null float64
Arkansas          64 non-null float64
California        64 non-null float64
Colorado          64 non-null float64
Connecticut       64 non-null float64
Delaware          64 non-null float64
Florida           64 non-null float64
Georgia           64 non-null float64
Hawaii            64 non-null float64
Idaho             64 non-null float64
Illinois          64 non-null float64
Indiana           64 non-null float64
Iowa              64 non-null float64
Kansas            64 non-null float64
Kentucky          64 non-null float64
Louisiana         64 non-null float64
Maine             64 non-null float64
Maryland          64 non-null float64
Massachusetts     64 non-null float64
Michigan          64 non-null float64
Minnesota         64 non-null float64
Mississippi       64 non-null float64
Missouri          64 non-null float64
Montana           64 non-null float64
Nebraska          64 non-null float64
Nevada            64 non-null float64
New Hampshire     64 non-null float64
New Jersey        64 non-null float64
New Mexico        64 non-null float64
New York          64 non-null float64
North Carolina    64 non-null float64
North Dakota      64 non-null float64
Ohio              64 non-null float64
Oklahoma          64 non-null float64
Oregon            64 non-null float64
Pennsylvania      64 non-null float64
Rhode Island      64 non-null float64
South Carolina    64 non-null float64
South Dakota      64 non-null float64
Tennessee         64 non-null float64
Texas             64 non-null float64
Utah              64 non-null float64
Vermont           64 non-null float64
Virginia          64 non-null float64
Washington        64 non-null float64
West Virginia     64 non-null float64
Wisconsin         64 non-null float64
Wyoming           64 non-null float64
year              64 non-null int64
dtypes: float64(50), int64(1), object(2)
memory usage: 29.5+ KB

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.



### Which state has the highest total permit checks per capita during 2016?

In [9]:
df_nics.head()

,month,state,handgun,long_gun,multiple,prepawn_handgun,prepawn_long_gun,redemption_handgun,redemption_long_gun,returned_handgun,returned_long_gun,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,return_to_seller_handgun,return_to_seller_long_gun,totals,year
0,2017-09,Alabama,5734,6320,317,15,21,1378,1262,0,0,0,0,9,16,0,0,15072,2017
1,2017-09,Alaska,2320,2930,160,5,2,200,154,28,30,0,0,17,24,0,0,5870,2017
2,2017-09,Arizona,11063,7946,631,13,6,1474,748,82,5,0,0,38,12,0,0,22018,2017
3,2017-09,Arkansas,4347,6063,366,12,13,1296,1824,0,0,0,0,13,23,0,2,13959,2017
4,2017-09,California,37165,24581,0,0,0,535,397,0,0,0,0,0,0,0,0,62678,2017

In [71]:
yearly_df_nics = df_nics.groupby(['year','state'], as_index=False, sort=False).sum()

temp_dict = {
    'state': yearly_df_nics.state,
    'year': yearly_df_nics.year,
    'totals': yearly_df_nics.totals
}

state_totalgun = pd.DataFrame(temp_dict)

In [95]:
merged_set = yearly_df_nics.query('year == 2016').merge(census_flip.iloc[:,:2],left_on='state', right_on='index')


col = list(merged_set.columns)[-1]

merged_set['gun_per_capita'] = merged_set.totals / merged_set[col]

merged_set.sort_values('gun_per_capita', ascending=False, inplace=True)
merged_set.reset_index(drop=True, inplace=True)

,year,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,index,"Population estimates, July 1, 2016, (V2016)",gun_per_capita
0,2016,Kentucky,3372613,0,140721,109030,3886,6943,2,118,...,107,77,5,3,8,1,3676847,Kentucky,4.43697e+06,0.828683
1,2016,Indiana,946912,0,278182,177218,17764,9082,90,21,...,228,120,20,17,12,0,1436725,Indiana,6.63305e+06,0.216601
2,2016,Illinois,962930,419341,352411,177255,0,12133,0,0,...,0,0,0,0,0,0,1924070,Illinois,1.28015e+07,0.1503
3,2016,West Virginia,26806,0,92124,81105,3643,5283,73,77,...,75,61,8,7,7,0,242350,West Virginia,1.8311e+06,0.132352
4,2016,Montana,20512,0,37547,56834,2142,2678,221,34,...,20,24,2,8,17,0,136337,Montana,1.04252e+06,0.130776

### What census data is most associated with high gun per capita?

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Which states have had the highest growth in gun registrations?

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

### What is the overall trend of gun purchases?

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!